# Terraform
**/.terraform/**
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Java / Maven
flink-app/target/

# Config de arranque de Flink
restore-config.json